@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

$primary-color: #0055ff;
$text-color: #333;
$content-padding: 40px;

.content {
  width: 100vw; // 뷰포트 너비를 최대 사용
  padding: $content-padding;
  transition: all 0.3s ease; // 모든 변화에 부드러운 애니메이션 적용
  box-sizing: border-box; // 패딩 포함해서 너비 계산

  &.shifted {
    margin-left: 500px; // Sidebar가 열렸을 때만 margin 적용
  }

  h1 {
    font-size: 2.2rem;
    color: $primary-color;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: $text-color;
  }

  /* 작은 화면 대응 */
  @media (max-width: 768px) {
    margin-left: 0; // 작은 화면에서는 Sidebar와 무관하게 유지
    padding: 20px;
  }
}
